*{
  margin-top: 0;
  margin-left: 0;
}

body {
  overflow: hidden;
  font-family: "Helvetica", Times, serif;
}
svg {
  height: 100vh;  
  width: 100vw;
  background: #FFD1DC;
}
path {
  fill: none;
  stroke: #FF6961;
  stroke-width: 0.5px;
}



#box {
  color:#FF6961;
}
#box1{
  color:#1F75FE;
}
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.btn-primary{
  text-transform: uppercase;
  border: 3px outset #FFD1DC;
  background-color: #FF6961;
  color: #FFD1DC;
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover{
  border: 3px outset #FF6961;
  background-color: #FFD1DC;
  color: #FF6961;
}

.signupbtn {
  font-size: 0.4em;
  float: right;
  margin-top: 15px;
  color: #fff;
}

.signupbtn:hover {
  color: #FF6961;
}

.btn-primary1{
  text-transform: uppercase;
  border: 3px outset #1F75FE;
  background-color: #74BBFB;
  color: #1F75FE;
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary1:hover{
  border: 3px outset #74BBFB;
  background-color: #1F75FE;
  color: #74BBFB;
}

.signinbtn {
  font-size: 0.4em;
  float: right;
  margin-top: 15px;
  color: #fff;
}

.signinbtn:hover {
  color: #1F75FE;
}

.medicalConditions{
  display:inline;
  margin-right: 5px;
}

.what{
  display:block;
}

.section{
  margin-bottom: 10px;
  font-size: larger;
}

.entireForm{
  border: 1px solid red;
  background-image: url(./hospital.jpg);
  background-size: cover;
}





