*{
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Helvetica", Times, serif;
}
svg {
  height: 100vh;  
  width: 100vw;
  background: #FFD1DC;
}
path {
  fill: none;
  stroke: #FF6961;
  stroke-width: 0.5px;
}

#box {
  color:#FF6961;
}
#box1{
  color:#1F75FE;
}
#box3{
  color:#FFD1DC;
}
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.btn-primary{
  text-transform: uppercase;
  border: 3px outset #FFD1DC;
  background-color: #FF6961;
  color: #FFD1DC;
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover{
  border: 3px outset #FF6961;
  background-color: #FFD1DC;
  color: #FF6961;
}

.signupbtn {
  font-size: 0.4em;
  float: right;
  margin-top: 15px;
  color: #fff;
}

.signupbtn:hover {
  color: #FF6961;
}

.btn-primary1{
  text-transform: uppercase;
  border: 3px outset #1F75FE;
  background-color: #74BBFB;
  color: #1F75FE;
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary1:hover{
  border: 3px outset #74BBFB;
  background-color: #1F75FE;
  color: #74BBFB;
}

.signinbtn {
  font-size: 0.4em;
  float: right;
  margin-top: 15px;
  color: #fff;
}

.signinbtn:hover {
  color: #1F75FE;
}

i {
	margin-right: 10px;
}

.navbar-logo{
  display: inline-block;
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #FF6961;
}

#navbarSupportedContent{
	position: relative;
}

#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #FF6961;
	background-color: transparent;
	transition: all 0.5s;
}
#navbarSupportedContent a:not(:only-child):after {
	position: absolute;
	font-size: 14px;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF6961;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: flex;
      float:right;
      margin-top:1px;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
