{% extends 'base.html' %}

{% block content %}
<!--Put code here-->
<form>
    <img src="">
    <div class="entireForm">
      <div>
         <label for="username">
          Username:
         </label> 
         <input type="text" id="username">
      </div>
      <div>
          <label for="date">
           Date Of Appointment:
          </label> 
          <input  type="date" id="date">
       </div>
       <div>
          <label for="postalcode">
           Postal Code:
          </label> 
          <input type="text" id="postalcode">
       </div>
       <div>
          <label for="medicalFacility">Hospital/Clinic:</label>
          <select name="medicalFacility" id="medicalFacility">
             <option value="Ng Teng Fong Hospital">Ng Teng Fong Hospital</option>
             <option value="Tan Tock Seng Hospital">Tan Tock Seng Hospital</option>
          </select>
       </div>
       <div>
          <label for="typeOfIllness">What are you seeking an appointment for?</label>
          <div class="inline">
             <label for="stomachache">Stomachache</label>
             <input type="radio" name="ilness" id="stomachache">
          </div>
          <div class="inline">
             <label for="covid">Covid</label>
             <input type="radio" name="ilness" id="covid">
          </div>
          <div class="inline">
             <label for="others">
                Others
             </label>
             <textarea id="others" name="SpecialIllness"></textarea>
          </div>
       </div>
       <div>
          <input type="hidden" name="completion" value="false">
       </div>
       <div>
          <input type="hidden" name="medicine" value="none">
       </div>
       <button type="reset">Reset</button>
       <button type="submit">Submit</button>
       </div>
  </form>
{% endblock %}