{% extends 'base.html' %}
{% set active_page = "appointments" %}
{% block content %}
<!--Put code here-->
<div class="login-box">
   <h2>Create<span id="box">Appointment</span></h2>
   <form method="POST" action="">
      <div class="user-box">
         <label for="location"></label>
         <input name="location" type="string" class="form-control" id="location" placeholder="Weight in kg" required="">
      </div>
      <div class="user-box">
         <label for="datetime"></label>
         <input name="datetime" type="datetime-local" class="form-control" id="time" placeholder="Weight in kg"
            required="">
      </div>
      <div class="user-box">
         <label for="symptoms"></label>
         <input name="symptoms" type="string" class="form-control" id="symptoms" placeholder="Weight in kg" required="">
      </div>
      <button type="submit" onclick="showOverlay()" class="btn btn-primary">Update</button>
   </form>
</div>
{% if message %}
<h2>{{ message }}</h2>
{% endif %}

{% if data %}
<table>
   <tr>
      <th class="text-left">Username</th>
      <th class="text-left">Location</th>
      <th class="text-left">Appointment_datetime</th>
      <th class="text-left">Symptoms</th>
      <th class="text-left">Completed?</th>
      <th class="text-left">Prescriptions</th>
   </tr>
   {% for username, location, appointment_datetime, symptoms, completed, prescriptions in data %}
   <tr>
      <td class="text-left">{{ username }}</th>
      <td class="text-left">{{ location }}</th>
      <td class="text-left">{{ appointment_datetime }}</th>
      <td class="text-left">{{ symptoms }}</th>
      <td class="text-left">{{ completed }}</th>
      <td class="text-left">{{ prescriptions }}</th>
   </tr>
</table>
{% endfor %}
{% endif %}
{% endblock %}