{% extends 'base.html' %}
{% set active_page = "health" %}

{% block content %}
<div class = section>
    <div class="sections BMI">
        <div class="word stats">
            <br>
            <h2>Sex:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sex}}</h2>
            <br>
            <h2>Height:&nbsp;&nbsp;{{height}}cm</h2>
            <br>
            <h2>Weight:&nbsp;&nbsp;{{weight}}kg</h2>
            <br>
            <h2>BMI:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bmi}}</h2>
            <br>
        </div>
    </div>

    <div class="sections records">
        
        <div class="word">
            <br>
            <h1>Health Records</h1>
            <br>
            <p>Medical records will be available here</p>
            <hr>
            <br>
            <h2>Immunisations</h2>
            <br>
            <h2>Medications</h2>
            <br>
            <h2>Health Risk Assessment</h2>
            <br>
            <h2>Lab Results</h2>
            <br>
        </div>
        
    </div>
</div>


<script>

</script>




{% endblock %}